        .body {
            background-color: #2f4f4f;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            height: 1200px;
        }
        
        .phone {
            width: 260px;
            height: 535px;
            padding: 1px 5px;
            margin: 0;
            display: flex;
            align-items: center;
            text-align: center;
            justify-content: center;
            flex-direction: column;
            background-color: rgba(255, 255, 255, 0.856);
            border-radius: 22px;
        }
        /* 화면부분 */
        .totalc {
            width: 250px;
            height: 450px;
            padding: 1px 5px;
            margin: 0;
            display: flex;
            text-align: center;
            flex-direction: column;
            background-color: black;
            border-radius: 22px;
        }
        /* 제목 */
        .h1 {
            font-size: 4em;
            font-weight: 500;
            color: #fda0ae;
            margin-top: 2px;
            margin-bottom: 0px;
            word-spacing: 3px;
            font-family: 'Dancing Script', cursive;
        }
        /* 제목2 */
        .dev {
            color: #fda0ae;
            margin-top: 0px;
            word-spacing: 3px;
            margin-bottom: 4em;
            font-style: italic;
            font-family: 'Dancing Script', cursive;
        }
        /* 수식된 값 */
        #inputBox {
            text-align: right;
            width: 210px;
            height: 20px;
            font-size: 1em;
            color: rgba(255, 255, 255, 0.733);
            margin-top: 30px;
            margin-bottom: 0px;
            padding: 3px 12px;
            white-space: nowrap;
            overflow-x: auto;
            overflow-y: hidden;
        }
        /* 결과 출력 창 */
        #resultBox {
            height: 70px;
            width: 210px;
            text-align: right;
            font-size: 3em;
            color: white;
            padding: 0px 18px;
            white-space: nowrap;
            overflow-x: auto;
            overflow-y: hidden;
        }
        /* 계산기 버튼 1줄 */
        .container {
            margin-bottom: 15px;
        }
        /* 첫번째줄 %까지 */
        .fir {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            background-color: rgba(211, 211, 211, 0.603);
            border-style: none;
            font-size: 2em;
            outline-style: none;
            cursor: pointer;
            transition: 0.5s;
        }
        /* 마우스 올렸을 때 */
        .fir:hover {
            background-color: rgba(211, 211, 211, 0.76);
        }
        /* 산술연산자 버튼 */
        .divi {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            background-color: #ffbb00;
            border-style: none;
            font-size: 2em;
            outline-style: none;
            color: white;
            cursor: pointer;
            transition: 0.5s;
        }
        /* 마우스 올렸을 때 */
        .divi:hover {
            background-color: #fdd157;
        }
        /* 숫자(0제외)+.버튼 */
        .num {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            background-color: rgba(128, 128, 128, 0.329);
            border-style: none;
            font-size: 2em;
            outline-style: none;
            color: white;
            cursor: pointer;
            transition: 0.5s;
        }
        /* 마우스 올렸을 때 */
        .num:hover {
            background-color: rgba(128, 128, 128, 0.514);
        }
        /* 숫자0 버튼 */
        .num0 {
            width: 110px;
            height: 50px;
            border-radius: 20px;
            text-align: left;
            padding-left: 15px;
            background-color: rgba(128, 128, 128, 0.329);
            border-style: none;
            font-size: 2em;
            outline-style: none;
            color: white;
            cursor: pointer;
            transition: 0.5s;
        }
        /* 마우스 올렸을 때 */
        .num0:hover {
            background-color: rgba(128, 128, 128, 0.514);
        }
        /* 휴대폰 홈버튼 */
        .home {
            margin-top: 10px;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            background-color: rgba(255, 255, 255, 0.856);
            border-style: none;
            outline-style: none;
            box-shadow: 0px 0px 2px 2px gray;
            cursor: pointer;
            transition: 0.1s;
        }
        /* 홈버튼 클릭했을 때 */
        .home:active {
            box-shadow: 0px 0px 4px 3px gray;
        }
        /* 화면 위 스피커 부분 */
        .here {
            width: 20px;
            height: 5px;
            margin-top: 5px;
            margin-bottom: 5px;
            border-radius: 30%;
            background-color: black;
        }